<%- include('header') %>
    <h2>
        <a href="/admin/vagas/nova" >Nova Vaga</a>
    </h2>
    <ul>
        <% vagas.forEach (vaga => { %>
                <li>
                    <%- vaga.titulo %> | 
                    <a href="/admin/vagas/editar/<%- vaga.id%>">Alterar</a>
                    <a href="/admin/vagas/delete/<%- vaga.id%>">Excluir</a>
                <li>
        <% })%>
   </ul>
<%- include('footer') %>